<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <ul>
        <li><a href="/create_wallet">create wallet</a></li>
        <li><a href="/load_hd_wallet">load hd wallet</a></li>
        <li><a href="/get_eth_balance">Get ETH Balance</a></li>
        <li><a href="/transfer_eth">Transfer ETH</a></li>
        <li><a href="/latest_btc_block">Latest Bitcoin Block</a></li>
        <li><a href="/get_btc_balance">Get BTC Balance</a></li>
        <li><a href="/get_eth_transactions">Get ETH Transactions</a></li>
    </ul>
</body>
</html>